
h1,h2,h3,h4,h5,h6 ,a{
    font-family: 'Spartan', sans-serif;
}
*{
    margin:0;
    padding-left: 0;
    box-sizing: border-box;
}
.r-hed img {
    width: 170px;
}
.own-bg{
    background:#e0e0e0 ;
}
.our-menu ul{}
.our-menu li{
    display: inline-block;
    position: relative;
}
.our-menu li a {
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    position: relative;

}
.our-menu li a:hover{
    color: #e83b3e;
}

.our-menu li a::after {
    content: "";
    display: block;
    position: absolute;
    top: 62px;
    left: 16px;
    width: 0;
    height: 2px;
    background: blue;
    transition: .6s;
}
.our-menu li a:hover::after{
     width: 66%;
}

.hover-active{
    position: relative;
}
.our-menu li a.hover-active::after{
    content: "";
    display: block;
    position: absolute;
    top: 62px;
    left: 16px;
    width: 66%;
    height: 2px;
    background: blue;
}
.our-menu .aftr-dactve a::after{
    display: none;
}
/* dropdown */
.our-menu li ul li{
    display: block;
}
.our-menu li ul li a{
       background: blue;
}
.our-menu li ul li a::after{
    display: none;
}
.our-menu li ul{
    position: absolute;
    left: 20px;
    top: 155%;
    width: 245px;
    padding-left: 0;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.our-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    
}
.header-info {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 0px;
}
.header-call{

}
.bg{
    background: #e0e0e0;
}
.header-call-icon{
    float: left;
    display: inline-block;
    margin: 15px;
}
.header-call-info{
    float: right;
}
.header-call-info .ppp{
    font-size: 16px;
}
.header-call-info a {
    font-size: 15px;
    text-decoration: none;
    color: #111;
}
.header-search {
    width: 50px;
    font-size: 25px;
    border-right: 1px solid #ddd;
}
.header-button{
    margin-left: 0;

   
}
/* script-button */

.btn_top{
    position: relative;
    padding: 10px 20px;
    border-radius: 20px ;
    display: inline-block;
    text-decoration: none;
    color: rgb(55, 0, 255);
    background: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .8s;
    overflow: hidden;
    z-index: 1;
    
}
.btn_top:hover{
    color: rgb(255, 255, 255);
    
}
.btn_top span
{
    position: absolute;
    display: block;
    height: 0px;
    width: 0px;
    transform: translate(-50%,-50%);
    background: #111;
    transition: 1s,1s;
    z-index: -1;
}
.btn_top:hover span
{
    width: 400px;
    height: 400px;
}

.btn_2nd{
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px ;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: blue;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .8s;
    overflow: hidden;
    z-index: 1;
    
}
.btn_2nd:hover{
    color: rgb(255, 255, 255);
    /* transition: .8s; */
}
.btn_2nd span
{
    position: absolute;
    display: block;
    height: 0px;
    width: 0px;
    transform: translate(-50%,-50%);
   background: #111;
    transition: 1s,1s;
    z-index: -1;
}
.btn_2nd:hover span
{
    width: 400px;
    height: 400px;
}
/* script button end */


/* slider */
.slider-section{
    background: url(./Image/Untitled\ design.png) center top no-repeat ;
    background-size: cover;
    
    background-attachment: fixed;

}

.flexibles
{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-content h1 {
   font-weight: 700;
}
.slider-content p {
    line-height: 20px;
    color: #6b6b6b;
}
.social-icon {
    position: absolute;
    bottom: 0;
    left: -35px;
}
.social-icon ul
{  
    list-style: none;
    

}
.social-icon ul li
{
    padding: 0 10px

}
.social-icon ul li a{

    color: #111;
}
.social-icon span {
    font-size: 25px;
    position: relative;
    margin: 0  45px 0 0;
}
.social-icon span::after {
    content: "";
    height: 1px;
    width: 40px;
    background: #111;
    position: absolute;
    right: -44px;
    top: 50%;
}


